<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSV Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>    
    <script src="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css"></script>
</head>
<body>



<table id = "example" class = "ui celled table">
	<thead>
		<tr>
			<td>user id</td>
			<td>name</td>
			<td>email</td>
			<td>platforms</td>
			<td>created at</td>
		</tr>
	</thead>
	<tbody>
	{%for column in data%}
	<tr>
		{%for item in column%}
		<td>{{item}}</td>
		{%endfor%}
	</tr>
	{%endfor%}
	</tr>
	</tbody>
</table>

{%for item in filters%}
<div class="ui large label">
<i class="tag icon"></i>{{item}} </div>
{%endfor%}

<br><br>

<a href="/download/" target="blank"><button class='ui primary button'>Download</button></a>




<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable({});
} );
</script>

</body>





</html>